{{/* This config file template is written to keep existing settings when re-generating it */}}
[data.feat]

{{- $feat := default (dict) (get . "feat") }}

# Will this machine have a graphical user interface?
gui = {{ default false (get $feat "gui") }}

# Will this machine be used for development?
dev = {{ default false (get $feat "dev") }}

# Should creativity apps be installed?
creative = {{ default false (get $feat "creative") }}

# Should social/chat apps be installed?
social = {{ default false (get $feat "social") }}

# Should games and entertainment apps be installed?
entertainment = {{ default false (get $feat "entertainment") }}

# Should this machine run a DNS cache and DNS over TLS proxy?
dnsproxy = {{ default false (get $feat "dnsproxy") }}

[diff]
exclude = ["scripts"]
