{{/* This config file template is written to keep our existing settings when re-generating it */}}
[data.feat]

# Will this machine have a graphical user interface?
gui = {{ or .feat.gui false }}

# Will this machine be used for development?
dev = {{ or .feat.dev false }}

[diff]
exclude = ["scripts"]
