{{ .chezmoi.hostname }} ansible_connection=local ansible_python_interpreter=auto_silent

{{- if .feat.gui }}

[gui]
{{ .chezmoi.hostname }}
{{- end }}

[dev]
{{- if .feat.dev }}
{{ .chezmoi.hostname }}
{{- end }}

[creative]
{{- if .feat.creative }}
{{ .chezmoi.hostname }}
{{- end }}

[social]
{{- if .feat.social }}
{{ .chezmoi.hostname }}
{{- end }}

[entertainment]
{{- if .feat.entertainment }}
{{ .chezmoi.hostname }}
{{- end }}

[dnsproxy]
{{- if .feat.dnsproxy }}
{{ .chezmoi.hostname }}
{{- end }}