{{ .chezmoi.hostname }} ansible_connection=local ansible_python_interpreter=auto_silent

{{- if .feat.gui }}

[gui]
{{ .chezmoi.hostname }}
{{- end }}

{{- if .feat.dev }}

[dev]
{{ .chezmoi.hostname }}
{{- end }}

{{- if .feat.creative }}

[creative]
{{ .chezmoi.hostname }}
{{- end}}

{{- if .feat.social }}

[social]
{{ .chezmoi.hostname }}
{{- end}}

{{- if .feat.entertainment }}

[entertainment]
{{ .chezmoi.hostname }}
{{- end}}
